<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>登录页</title>
	<link type="text/css" rel="stylesheet" href="css/login_style.css" />
	<script src="js/vue.js"></script>
	<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
	<form  method="post" class="login-form" id="login">
		<h1><span>登录</span></h1>
		
		<div class="txtb">
			<input :class="[usernameFlag ? 'focus' : '']" name="username" type="text" v-model="username" @focus="focusEvent($event)" @blur="blurEvent($event)" />
			<span data-placeholder = "用户名"></span>
		</div>

		<div class="txtb">
			<input :class="[passwordFlag ? 'focus' : '']" name="password" type="password" v-model="password" @focus="focusEvent($event)"  @blur="blurEvent($event)"/>
			<span data-placeholder = "密码"></span>
		</div>
		
		<input type="button" class="submit-btn" value="登录" @click="login()"/>
		
		<div class="bottom-txt">
			<span class="txt-span">没有账号?</span><a href="#" style="text-decoration: none;"><span class="txt-span">注册<span></a>
		</div>
	</form>

	<script type="text/javascript">
		// $(".txtb input").on("focus",function(){
		// 	$(this).addClass("focus");
		// });
		// $(".txtb input").on("blur",function(){
		// 	if($(this).val() == "")
		// 		$(this).removeClass("focus");
		// });

		new Vue({
			el: '#login',
			data:{
				username:'',
				password:'',
				usernameFlag: false,
				passwordFlag: false
			},
			methods:{
				login(){
					let formData = new FormData();
					formData.append('username',this.username);
					formData.append('password',this.password);
					this.$http.post(
							'/login',
							formData
					).then(function (response) {
						window.location.href = '/homepage.html';
						// this.$http.get('/homepage.html');
					},function (response) {
						alert("登录失败");
					})
				},
				focusEvent(event){
					if (event.target.name == "username"){
						this.usernameFlag = true;
					}
					if (event.target.name == "password"){
						this.passwordFlag = true;
					}
				},
				blurEvent(event){
					if(event.target.name == "username" && event.target.value == ""){
						this.usernameFlag = false;
					}
					if(event.target.name == "password" && event.target.value == ""){
						this.passwordFlag = false;
					}
				}
			}
		});
	</script>
</body>
</html>